<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ head_title }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">
</head>

<body{% if body_class is defined and body_class is not empty %} class="{{ body_class }}"{% endif %}>

{% include '../_partials/header.twig' %}

{% block page %}{% endblock %}

{% include '../_partials/footer.twig' %}
<script src="js/all.js"></script>

<!--vendor libraries
<script src="/js/1.jquery.min.js"></script>
<script src="/js/svg4everybody.js"></script>
<script src="/js/2.bootstrap.min.js"></script>
<script src="/js/slick.js"></script>
<script src="/js/jquery.bttrlazyloading.js"></script>

<script src="/js/1.jquery.plugin-base.js"></script>
<script src="/js/2.jquery.state-manager.js"></script>
<script src="/js/slick-slider/jquery.slick-wrapper.js"></script>
<script src="/js/picture/jquery.picture.js"></script>
<script src="/js/index.js"></script>
-->
</body>
</html>
