.picture__wrapper {

}
.picture__clone {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.picture--loaded {
  background-image: none !important;
}
