<!--
<noscript>
    <img srcset="https://www.briefmarken-sieger.de/media/image/36/3a/15/989328_600x600.jpg, https://www.briefmarken-sieger.de/media/image/20/cd/33/989328_600x600@2x.jpg 2x" alt="20 Jahre Rückkehr aus dem Mutterland - Briefmarken-Block postfrisch, Macao" title="20 Jahre Rückkehr aus dem Mutterland - Briefmarken-Block postfrisch, Macao">
</noscript>

<div class="maxia-lazy-loader">
    <img alt="20 Jahre Rückkehr aus dem Mutterland - Briefmarken-Block postfrisch, Macao"
         title="20 Jahre Rückkehr aus dem Mutterland - Briefmarken-Block postfrisch, Macao"
         class="maxia-lazy-image "
         data-srcset="https://www.briefmarken-sieger.de/media/image/36/3a/15/989328_600x600.jpg,
         https://www.briefmarken-sieger.de/media/image/20/cd/33/989328_600x600@2x.jpg 2x" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></div>
-->
<h1>test</h1>

<img class="img-fluid"
     data-picture="true"
     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
     data-picture-xs-src="//via.placeholder.com/576x200"
     data-picture-xs-height="200"
     data-picture-xs-width="576"
     data-picture-sm-src="//via.placeholder.com/768x200"
     data-picture-sm-height="200"
     data-picture-sm-width="768"
     data-picture-md-src="//via.placeholder.com/992x350"
     data-picture-md-height="350"
     data-picture-md-width="992"
     data-picture-lg-src="//via.placeholder.com/1200x450"
     data-picture-lg-height="450"
     data-picture-lg-width="1200"
     data-picture-xl-src="//via.placeholder.com/1200x450"
     data-picture-xl-height="450"
     data-picture-xl-width="1200">
