{% extends './_layouts/default.twig' %}
{% set head_title = 'Index' %}
{% set body_class = '' %}

{% block page %}
    <div class="jumbotron bg-white text-center justify-content-center align-items-center mb-0">
        <div class="container">
            <h1 class="display-3">Boilerplate Bootstrap 4+ with Gulp 4 </h1>
            <p class="lead">Basic is a Bootstrap 4+ boilerplate with Gulp4, Sass, Twig, BrowserSync.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% embed "./components/slick-slider/slider.twig" with {
                    'arrows': '1',
                    'xs': '{"arrows": 1}',
                    'sm': '{"arrows": 1}',
                    'md': '{"arrows": 1}',
                    'lg': '{"arrows": 1}',
                    'xl': '{"arrows": 1}'
                } %}
                    {% block slides %}
                        <div>
                            <picture>
                                <source media="(min-width: 1200px)" srcset="//via.placeholder.com/1200x450 1x"/>
                                <source media="(min-width: 992px)" srcset="//via.placeholder.com/1200x450 1x"/>
                                <source media="(min-width: 768px)" srcset="//via.placeholder.com/991x350 1x"/>
                                <source media="(min-width: 576px)" srcset="//via.placeholder.com/787x300 1x"/>
                                <source media="(min-width: 0px)" srcset="//via.placeholder.com/576x250 1x"/>
                                <img src="//via.placeholder.com/576x250" class="img-fluid" alt=""/>
                            </picture>
                        </div>
                        <div>
                            <picture>
                                <source media="(min-width: 1200px)" srcset="//via.placeholder.com/1200x450 1x"/>
                                <source media="(min-width: 992px)" srcset="//via.placeholder.com/1200x450 1x"/>
                                <source media="(min-width: 768px)" srcset="//via.placeholder.com/991x350 1x"/>
                                <source media="(min-width: 576px)" srcset="//via.placeholder.com/787x300 1x"/>
                                <source media="(min-width: 0px)" srcset="//via.placeholder.com/576x250 1x"/>
                                <img src="//via.placeholder.com/576x250" class="img-fluid" alt=""/>
                            </picture>
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>

            <div class="col-12">
                <h2>Slider with double</h2>
                <div class="slick"
                     data-arrows="1"
                     data-slider="true"
                     data-slidesToShow="2"
                     data-fade="0"
                     data-lazyLoad="progressive"
                     data-xl='{"arrows": 1, "slidesToShow": 2}'
                     data-lg='{"arrows": 1, "slidesToShow": 2}'
                     data-md='{"arrows": 1}'
                     data-sm='{"arrows": 1}'
                     data-xs='{"arrows": 1}'>
                        {% for i in 0..10 %}
                            <div>
                                <picture>
                                    <source media="(min-width: 1200px)" srcset="//via.placeholder.com/600x450 1x"/>
                                    <source media="(min-width: 992px)" srcset="//via.placeholder.com/600x450 1x"/>
                                    <source media="(min-width: 768px)" srcset="//via.placeholder.com/500x350 1x"/>
                                    <source media="(min-width: 576px)" srcset="//via.placeholder.com/400x300 1x"/>
                                    <source media="(min-width: 0px)" srcset="//via.placeholder.com/300x250 1x"/>
                                    <img src="//via.placeholder.com/300x250" class="img-fluid" alt=""/>
                                </picture>
                            </div>
                        {% endfor %}
                </div>
                <pre>
                    <div class="slick"
                         data-arrows="1"
                         data-slider="true"
                         data-slidesToShow="2"
                         data-fade="0"
                         data-lazyLoad="progressive"
                         data-xl='{"arrows": 1, "slidesToShow": 2}'
                         data-lg='{"arrows": 1, "slidesToShow": 2}'
                         data-md='{"arrows": 1}'
                         data-sm='{"arrows": 1}'
                         data-xs='{"arrows": 1}'>
                        ...
                    </div>
                </pre>
            </div>
        </div>

        <h2>content images</h2>
        <div class="row">

            {% for i in 0..3 %}
            <div class="col-md-3">
                <figure class="image">
                        <img class="img-fluid"
                             data-picture="true"
                             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-picture-xs-src="//via.placeholder.com/300x250"
                             data-picture-xs-height="250"
                             data-picture-xs-width="300"
                             data-picture-sm-src="//via.placeholder.com/400x300"
                             data-picture-sm-height="300"
                             data-picture-sm-width="400"
                             data-picture-md-src="//via.placeholder.com/500x350"
                             data-picture-md-height="350"
                             data-picture-md-width="500"
                             data-picture-lg-src="//via.placeholder.com/400x450"
                             data-picture-lg-height="450"
                             data-picture-lg-width="400"
                             data-picture-xl-src="//via.placeholder.com/400x450"
                             data-picture-xl-height="450"
                             data-picture-xl-width="400">
                </figure>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-12">
                <h2>counter</h2>
            </div>
            <div class="col-12">
                <div class="h1 text-secondary timer" data-counter data-to="500" data-speed="1500">0</div>
            </div>
        </div>

        <div class="row">

            {% for i in 0..3 %}
                <div class="col-md-3">
                    <figure class="image">
                        <img class="img-fluid"
                             data-picture="true"
                             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                             data-picture-xs-src="//via.placeholder.com/300x250"
                             data-picture-xs-height="250"
                             data-picture-xs-width="300"
                             data-picture-sm-src="//via.placeholder.com/400x300"
                             data-picture-sm-height="300"
                             data-picture-sm-width="400"
                             data-picture-md-src="//via.placeholder.com/500x350"
                             data-picture-md-height="350"
                             data-picture-md-width="500"
                             data-picture-lg-src="//via.placeholder.com/400x450"
                             data-picture-lg-height="450"
                             data-picture-lg-width="400"
                             data-picture-xl-src="//via.placeholder.com/400x450"
                             data-picture-xl-height="450"
                             data-picture-xl-width="400">
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

