<div class="slick"
     data-arrows="1"
     data-slider="true"
     data-fade="0"
     data-lazyLoad="progressive"
     data-xl='{"arrows": 1}'
     data-lg='{"arrows": 1}'
     data-md='{"arrows": 1}'
     data-sm='{"arrows": 1}'
     data-xs='{"arrows": 1}'>
    {% block slides %}
        <div>test1</div>
        <div>test2</div>
    {% endblock %}

</div>
